<header>
  <h1>とりあえずTODOでも作ってみる</h1>
</header>
<main id="main">
  <div>
    <input type="text" name="title">
    <button name="add">追加</button>
  </div>
  <ul id="list">
  </ul>
</main>
<pre>
<%= Cowsay.say("Hello") %>
</pre>
